RaspberryPiZeroW_Camera01_VideoStreamer.py
Thread_Example.py
/HomeSecurityCamera/HomeSecurityCamera/HomeSecurityCamera/obj/Debug/netstandard2.0
/HomeSecurityCamera/HomeSecurityCamera/HomeSecurityCamera.Android/obj/Debug/81
/HomeSecurityCamera/HomeSecurityCamera/HomeSecurityCamera.iOS/obj/iPhone/Debug
/HomeSecurityCamera/HomeSecurityCamera/HomeSecurityCamera.iOS/obj/iPhoneSimulator/Debug
/HomeSecurityCamera/HomeSecurityCamera/HomeSecurityCamera.UWP/obj/ARM/Debug
